.statistics {
  width: 300px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 30px 20px;
}

.title {
  text-align: center;
  background-color: #e7e7e7;
}

.statList {
  display: flex;
  justify-content: space-between;
}